/* Reset padrão para evitar espaçamentos indesejados e garantir a caixa-modelo padrão */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Bungee', sans-serif;
}

/* Estilo básico para o corpo da página */
body {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url('./img/imagen-background.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* Estilo para o título principal */
h1 {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: clamp(0px, 11vw, 80px);

  animation: tada 12s infinite;

  color: rgb(9, 48, 35);
}

h1 span {
  color: rgb(99, 17, 119);
}

/* Estilo para o botão principal */

.buttons {
  display: flex;
  justify-content: center;
}

button {
  font-size: clamp(0px, 15vw, 80px);

  background: none;
  border: none;

  cursor: pointer;
}

.divResult {
  display: flex;
  flex-direction: column;
}

/* Estilo para classes específicas de parágrafos */
.p1,
.p2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo para o resultado do jogo */
.result.win {
  animation: animate__flash 4s infinite;
}
.result {
  text-align: center;

  color: rgba(99, 17, 119, 0.877);
}

/* Estilo para emojis */
.emoji {
  width: 125px;
  height: 125px;
}
/* Animação de pulsação */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Estilo para a classe p1 e seu span correspondente */
.p1 span,
.p1 {
  color: rgb(39, 68, 40);
}

/* Estilo para a classe p2 e seu span correspondente */
.p2 span {
  color: rgb(99, 17, 119);
}
.p1 {
  color: rgb(99, 17, 119);
}
.p2 {
  color: rgb(39, 68, 40);
}

/* Adicione a seguinte parte para tornar a imagem de fundo responsiva */
@media (max-width: 768px) {
  body {
    justify-content: space-evenly;

    height: 100vh;
  }
}
